<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhyonk.dao.ArticleDao">
	<select id="getAllArticle"  resultType="com.zhyonk.entity.Article">
		select * from article
	</select>
	
	<select id="getArticleById"  resultType="com.zhyonk.entity.Article">
		select * from article where article_id = #{id}
	</select>
	
	<select id="getCarousel"  resultType="com.zhyonk.entity.Carousel">
		select * from carousel
	</select>
	
	<update id="editCarousel">
		update carousel set big_title = #{big_title},small_title = #{small_title},img_src=#{img_src},link=#{link}
		where 
		id= #{id}
	</update>
	
		<select id="postArticle">
		insert into
		article(title,outline,content,date,img_src,content1)
		values(#{title},#{smalltitle},#{text1},#{date},#{img_src},#{text2})
	</select>
	
</mapper>