<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhyonk.dao.ArticleDao">
	<select id="getAllArticle"  resultType="com.zhyonk.entity.Article">
		select * from article where is_del = 0
	</select>

	<select id="getArticleType"  resultType="com.zhyonk.entity.ArticleType">
		select * from article_type where is_del = 0
	</select>	
	<select id="getArticleById"  resultType="com.zhyonk.entity.Article">
		select * from article where article_id = #{id}
	</select>
	
	<select id="getCarousel"  resultType="com.zhyonk.entity.Carousel">
		select * from carousel
	</select>
	
	<update id="editCarousel">
		update carousel set big_title = #{big_title},small_title = #{small_title},img_src=#{img_src},link=#{link}
		where 
		id= #{id}
	</update>
	
	<update id="delArticleType">
		update article_type set is_del = 1
		where 
		id= #{id}
	</update>
	
	<update id="delArticleById">
		update article set is_del = 1
		where 
		article_id= #{article_id}
	</update>
	
	<select id="addArticleType">
		insert into article_type(type_name) values(#{name})
	</select>
	
	<select id="postArticle">
		insert into
		article(title,outline,content,date,img_src,content1)
		values(#{title},#{smalltitle},#{text1},#{date},#{img_src},#{text2})
	</select>
	
</mapper>